<div id="nav">
    <div class="titulonav">
        Secciones
    </div>

    <div class="cuerporec">
        <ul>
            <li><a href="#">Portada</a></li>
            <li><a href="#">Grandes rutas</a></li>
            <li><a href="#">Nuevas rutas</a></li>
            <li><a href="#">Ciudades</a></li>
            <li><a href="#">Pueblos</a></li>
        </ul>
    </div>
</div>